.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    padding: 5px;
    border-radius: 5px;
    background-color: #f6f6f6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar input {
    flex: 1;
    padding: 10px 15px;
    border: none;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    outline: none;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.search-bar input:hover {
    background-color: #e6e6e6;
}

.search-bar button {
    padding: 10px 20px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #007BFF;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar button:hover {
    background-color: #0056b3;
}
